body{
  margin:0;
  font-family:Arial, sans-serif;
  background:linear-gradient(135deg,#ff1a1a,#ffffff);
  overflow-x:hidden;
}

.container{
  width:100%;
}

.card-section{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.card{
  background:rgba(255,255,255,0.25);
  backdrop-filter:blur(14px);
  padding:30px;
  border-radius:22px;
  width:90%;
  max-width:420px;
  text-align:center;
  color:#fff;
  box-shadow:0 20px 40px rgba(0,0,0,0.25);

  opacity:0;
  transform:translateY(40px);
  transition:all 0.8s ease;
}

.card.show{
  opacity:1;
  transform:translateY(0);
}

.photos{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  margin-top:20px;
}

.photos img{
  width:100%;
  height:110px;
  object-fit:cover;
  border-radius:12px;
}

.heart-big{
  font-size:90px;
}

.big{
  font-size:48px;
  color:#b30000;
  text-align:center;
}
