*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#111;
  color:#fff;
  overflow:hidden;
}

/* SLIDES */
.slide{
  min-height:100vh;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  transform:translateX(40px);
  transition:all 0.8s ease;
  padding:20px;
}

.slide.active{
  opacity:1;
  transform:translateX(0);
  z-index:1;
}

/* CARD */
.card{
  background:rgba(255,255,255,0.15);
  padding:30px;
  border-radius:20px;
  max-width:420px;
  width:100%;
  text-align:center;
  box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

h1{
  font-size:38px;
}

h2{
  margin-bottom:15px;
}

p{
  margin-top:10px;
}

/* PHOTOS */
.photos{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  margin-top:15px;
}

.photos img{
  width:100%;
  height:110px;
  object-fit:cover;
  border-radius:12px;
}

/* FINAL */
.message{
  line-height:1.7;
  text-align:left;
}

.end{
  margin-top:20px;
  color:#ff4d4d;
}
