*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#111;
  color:white;
}

.screen{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
}

.red{
  background:linear-gradient(135deg,#8b0000,#ff4d4d);
}

.end{
  background:#fff;
  color:#8b0000;
  text-align:center;
}

.card{
  background:rgba(255,255,255,0.15);
  padding:30px;
  border-radius:20px;
  max-width:420px;
  width:100%;
  text-align:center;
  box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

.photos{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  margin-top:20px;
}

.photos img{
  width:100%;
  height:110px;
  object-fit:cover;
  border-radius:12px;
}

.heart{
  font-size:80px;
  margin-bottom:10px;
}
